div.dc-schematic {
    float: left;
    display: inline;
    white-space: nowrap;
}

table.dc-truth-table,
table.dc-truth-table th,
table.dc-truth-table td {
    border: 1px solid black;
}

table.dc-truth-table {
    border-spacing: 0.5em;
    border-collapse: collapse;

    margin-left: 20px;

    float: left;
    display: inline;
    white-space: nowrap;
}

table.dc-truth-table th {
    background-color: #ABBFFE;
}

table.dc-truth-table th,
table.dc-truth-table td {
    text-align: center;
    padding: 0.3em;
}

table.dc-truth-table tr.selected {
    background-color: #ABFEBF;
}

table.dc-truth-table th.dc-output-start,
table.dc-truth-table td.dc-output-start {
    border-left: 2px solid #000;
}


/* http://proto.io/freebies/onoff/ */

.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 12px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #FF66A3; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #66E0FF; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 18px; margin: 1px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 12px;
    position: absolute; top: 0; bottom: 0; right: 26px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

